@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-clr1: #dcdcdc;
  --border-clr2: #1f1f1f;
  --clr1: #747474;
  --txt-clr1: #ff6167;
  --txt-clr2: #000;
}

body {
  font-family: "Mulish", sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1em 0.5em;
  border-bottom: 2px solid var(--border-clr1);
}

.header > .row {
  align-items: center;
}

.logo-container {
  width: 60px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1em;
}

.brand-text {
  font-size: 1.5rem;
  color: var(--txt-clr1);
}

.logo {
  width: 100%;
}

.nav-items > ul {
  display: flex;
  gap: 1em;
}

.nav-items > ul > li {
  font-weight: 500;
  font-size: 1rem;
  color: var(--txt-clr2);
  transition: color 150ms ease-in-out;
}

.nav-items > ul > li:hover {
  cursor: pointer;
  color: var(--txt-clr1);
}

.nav-items .login-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
  transition: color 150ms ease-in-out;
}

.nav-items .login-btn:hover {
  cursor: pointer;
  color: var(--txt-clr1);
}

.body {
  padding: 1.5em 0;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.top-rated-btn {
  outline: none;
  border: none;
  border-radius: 100px;
  border: 2px solid var(--txt-clr1);
  background-color: transparent;
  color: var(--txt-clr1);
  font-weight: 600;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.top-rated-btn.active {
  background-color: var(--txt-clr1);
  color: #fff;
}

.top-rated-btn:hover {
  background-color: var(--txt-clr1);
  color: #fff;
}

.search-bar {
  border: 2px solid var(--border-clr2);
  border-radius: 100px;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  justify-content: space-between;
}

.search-btn {
  width: 5%;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn::after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--clr1);
}

.search-input {
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.5em;
  width: 90%;
  color: var(--txt-clr2);
  font-weight: 500;
  background-color: transparent;
}

.res-container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%));
  padding: 1.5em 0;
}

.res-card {
  width: 100%;
  overflow: hidden;
  border-radius: 0.6em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: opacity 0.2s ease-in-out;
}

.res-card:hover {
  cursor: pointer;
  opacity: 70%;
}

.res-details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 0.5em;
}

.res-details * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-card > .res-card-pic {
  align-self: center;
}

.res-card .res-card-pic > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.res-rating::after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffd43b;
}

.shimmer-container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%));
  padding: 1.5em 0;
}

.shimmer-card {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 0.6em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: opacity 0.2s ease-in-out;
  background-color: #dcdcdc;
}
